@import "tailwindcss";

@theme {
  --color-ems-red: #dc2626;
  --color-ems-green: #16a34a;
  --color-ems-blue: #1d4ed8;
  --color-ems-dark: #0f172a;
  --color-ems-card: #1e293b;
  --color-ems-border: #334155;
}

body {
  background-color: #0f172a;
  color: #f1f5f9;
  font-family: 'Inter', system-ui, sans-serif;
}

/* Leaflet fixes in dark theme */
.leaflet-container {
  background: #1e293b !important;
}
